{% extends 'base.html' %}

{% block title %}
    Top Ranobe
{% endblock %}

{% block content %}
<section>
<div class="container">
    <div class = "card">
            <div class = 'card-body'>
  <div class="row">
    <div> <h3 class="text-center">Name's Anime List</h3></div>
    <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Index</th>
      <th scope="col"><a href="" class="link-default">Title</a></th>
      <th scope="col"><a href="" class="link-default">Your Score</a></th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" class="top-anime-rank-text"><span class=" top-anime-rank-text rank1">1</span></th>
      <td class="title al va-t word-break">
       <a class = "image" style="position: relative; display: inline-block; float: left" href="https://www.meme-arsenal.com/memes/d80e757e7702cdf73fd53bc90bce45c3.jpg"><img src="https://cdn.myanimelist.net/r/50x70/images/anime/1259/110227.jpg?s=08c77f58ab974a8fc36af5e2eac9040a" alt="" ></a>
        <div class="detail"><h5 class=""><a class = "link-default" href="https://www.meme-arsenal.com/memes/d80e757e7702cdf73fd53bc90bce45c3.jpg" >One Piece</a> </h5>
</div>
      </td>
      <td class="score">9.12</td>

    </tr>
    <tr>
      <th scope="row" class="top-anime-rank-text"><span class=" top-anime-rank-text rank1">1</span></th>
      <td class="title al va-t word-break">
       <a class = "image" style="position: relative; display: inline-block; float: left" href="https://www.meme-arsenal.com/memes/d80e757e7702cdf73fd53bc90bce45c3.jpg"><img src="https://cdn.myanimelist.net/r/50x70/images/anime/1259/110227.jpg?s=08c77f58ab974a8fc36af5e2eac9040a" alt="" ></a>
        <div class="detail"><h5 class=""><a class = "link-default" href="https://www.meme-arsenal.com/memes/d80e757e7702cdf73fd53bc90bce45c3.jpg" >One Piece</a> </h5>
</div>
      </td>
      <td class="score">9.12</td>

    </tr>
    <tr>
      <th scope="row" class="top-anime-rank-text"><span class=" top-anime-rank-text rank1">1</span></th>
      <td class="title al va-t word-break">
       <a class = "image" style="position: relative; display: inline-block; float: left" href="https://www.meme-arsenal.com/memes/d80e757e7702cdf73fd53bc90bce45c3.jpg"><img src="https://cdn.myanimelist.net/r/50x70/images/anime/1259/110227.jpg?s=08c77f58ab974a8fc36af5e2eac9040a" alt="" ></a>
        <div class="detail"><h5 class=""><a class = "link-default" href="https://www.meme-arsenal.com/memes/d80e757e7702cdf73fd53bc90bce45c3.jpg" >One Piece</a> </h5>
</div>
      </td>
      <td class="score">9.12</td>

    </tr>
  </tbody>
</table>

  </div>
            </div>
</div>
</div>

</section>



{% endblock %}