
{% extends 'base.html' %}

{% block title %}
{{title}}
{% endblock %}
{% block content %}
    <div>
<section>
<div class="container">
  <div class="row">
    <div class="col-sm-8">
         <div class = "card">
            <div class = 'card-body'>
      <div> <h3>Top 5 Anime</h3></div>
        <div><div class="card-group">
  <div class="card">
    <img src="{{ inf_top_anime[0].img }}" width="160" height="220" class="card-img-top" alt="...">
    <div class="card-body">

      <h5 class="card-title"><a class = "link-default" href="{{ url_for('anime_page', id=inf_top_anime[0].id)   }}" >{{ inf_top_anime[0].title }}</a></h5>
      <p class="card-text"> {{inf_genre_top_anime[0]}}</p>
    </div>
      <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
          </div>
    </div>
   <div class="card">
    <img src="{{ inf_top_anime[1].img }}" width="160" height="220" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><a class = "link-default" href="{{ url_for('anime_page', id=inf_top_anime[1].id)   }}" >{{ inf_top_anime[1].title }}</a></h5>
      <p class="card-text"> {{inf_genre_top_anime[1]}}</p>
    </div>
      <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
          </div>
  </div>
 <div class="card">
    <img src="{{ inf_top_anime[2].img }}" width="160" height="220" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><a class = "link-default" href="{{ url_for('anime_page', id=inf_top_anime[2].id)   }}" >{{ inf_top_anime[2].title }}</a></h5>
      <p class="card-text"> {{inf_genre_top_anime[2]}}</p>
    </div>
      <div class="card-footer">
         <small class="text-muted">Last updated 3 mins ago</small>
          </div>
  </div>
 <div class="card">
    <img src="{{ inf_top_anime[3].img }}" width="160" height="220" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><a class = "link-default" href="{{ url_for('anime_page', id=inf_top_anime[3].id)   }}" >{{ inf_top_anime[3].title }}</a></h5>
      <p class="card-text"> {{inf_genre_top_anime[3]}}</p>
    </div>
      <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
          </div>
  </div>
 <div class="card">
    <img src="{{ inf_top_anime[4].img }}" width="160" height="220" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><a class = "link-default" href="{{ url_for('anime_page', id=inf_top_anime[4].id)   }}" >{{ inf_top_anime[4].title }}</a></h5>
      <p class="card-text">{{inf_genre_top_anime[4]}}</p>
    </div>
      <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
          </div>
  </div>
        </div></div></div></div>
<div><br></div>
        <div><br></div>
         <div class = "card">
            <div class = 'card-body'>
        <div><h3>Spring 2022 Anime</h3></div>
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <div class="row">
    <div class="col">
      <div class="card">
  <img src="{{ inf_spring_anime[0].img }}" width="160" height="220" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text"><a class = "abobus" href="{{ url_for('anime_page', id=inf_spring_anime[0].id)   }}" >{{ inf_spring_anime[0].title }}</a></p>
  </div>
</div>    </div>
    <div class="col">
       <div class="card" >
  <img src="{{ inf_spring_anime[1].img }}" width="160" height="220" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text"><a class = "abobus" href="{{ url_for('anime_page', id=inf_spring_anime[1].id)   }}" >{{ inf_spring_anime[1].title }}</a></p>
  </div>
</div>    </div>
    <div class="col">
      <div class="card" >
  <img src="{{ inf_spring_anime[2].img }}" width="160" height="220" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text"><a class = "abobus" href="{{ url_for('anime_page', id=inf_spring_anime[2].id)   }}" >{{ inf_spring_anime[2].title }}</a></p>
  </div>
</div>    </div>
  </div>
    </div>
    <div class="carousel-item">
       <div class="row">
    <div class="col">
      <div class="card" >
  <img src="{{ inf_spring_anime[3].img }}" width="160" height="220" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text"><a class = "abobus" href="{{ url_for('anime_page', id=inf_spring_anime[3].id)   }}" >{{ inf_spring_anime[3].title }}</a></p>
  </div>
</div>    </div>
    <div class="col">
      <div class="card" >
  <img src="{{ inf_spring_anime[4].img }}" width="160" height="220" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text"><a class = "abobus" href="{{ url_for('anime_page', id=inf_spring_anime[4].id)   }}" >{{ inf_spring_anime[4].title }}</a></p>
  </div>
</div>    </div>
    <div class="col">
      <div class="card" >
  <img src="{{ inf_spring_anime[5].img }}" width="160" height="220" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text"><a class = "abobus" href="{{ url_for('anime_page', id=inf_spring_anime[5].id)   }}" >{{ inf_spring_anime[5].title }}</a></p>
  </div>
</div>    </div>
  </div>
    </div>
    <div class="carousel-item">
       <div class="row">
    <div class="col">
      <div class="card" >
  <img src="{{ inf_spring_anime[6].img }}" width="160" height="220" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text"><a class = "abobus" href="{{ url_for('anime_page', id=inf_spring_anime[6].id)   }}" >{{ inf_spring_anime[6].title }}</a></p>
  </div>
</div>    </div>
    <div class="col">
      <div class="card" >
  <img src="{{ inf_spring_anime[7].img }}" width="160" height="220" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text"><a class = "abobus" href="{{ url_for('anime_page', id=inf_spring_anime[7].id)   }}" >{{ inf_spring_anime[7].title }}</a></p>
  </div>
</div>    </div>
    <div class="col">
      <div class="card" >
  <img src="{{ inf_spring_anime[8].img }}" width="160" height="220" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text"><a class = "abobus" href="{{ url_for('anime_page', id=inf_spring_anime[8].id)   }}" >{{ inf_spring_anime[8].title }}</a></p>
  </div>
</div>    </div>
  </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Предыдущий</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Следующий</span>
  </button>
</div>
            </div>
         </div>
 <div><br></div>
        <div><br></div>
        <div class = "card">
            <div class = 'card-body'>
        <div><h3>Top 3 Manga</h3></div>
        <div class="card mb-3" style="max-width: 1500px;">
  <div class="row g-0">
    <div class="col-md-2">
      <img src="{{ inf_top_manga[0].img }}" width="100" height="140" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <div class="card-header"><h6 class="card-title"><a class = "link-default" href="{{ url_for('manga_page', id=inf_top_manga[0].id)   }}" >{{ inf_top_manga[0].title }}</a> </h6></div>
        <p class="card-text">Volumes {{ inf_top_manga[0].volumes }} Chapters {{ inf_top_manga[0].chapters}}</p>
      </div>
    </div>
  </div>
</div>
                <div class="card mb-3" style="max-width: 1500px;">
  <div class="row g-0">
    <div class="col-md-2">
      <img src="{{ inf_top_manga[1].img }}" width="100" height="140" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <div class="card-header"><h6 class="card-title"><a class = "link-default" href="{{ url_for('manga_page', id=inf_top_manga[1].id)   }}" >{{ inf_top_manga[1].title }}</a> </h6></div>
        <p class="card-text">Volumes {{ inf_top_manga[1].volumes }} Chapters {{ inf_top_manga[1].chapters}} </p>
      </div>
    </div>
  </div>
</div>
                <div class="card mb-3" style="max-width: 1500px;">
  <div class="row g-0">
    <div class="col-md-2">
      <img src="{{ inf_top_manga[2].img }}" width="100" height="140" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <div class="card-header"><h6 class="card-title"><a class = "link-default" href="{{ url_for('manga_page', id=inf_top_manga[2].id)   }}" >{{ inf_top_manga[2].title }}</a> </h6></div>
        <p class="card-text">Volumes {{ inf_top_manga[2].volumes }} Chapters {{ inf_top_manga[2].chapters}} </p>

      </div>
    </div>
  </div>
</div>
            </div>
            </div>



    </div>


    <div class="col-sm-4">
        <div><br></div>
        <div><br></div>
      <div class="card" style="width: 18rem;">
  <img src="https://sun9-80.userapi.com/impg/t55wSDCTHvgcROHzbiMh04cfYBXimTmHbL1-Qg/WByzf8O1z38.jpg?size=654x464&quality=95&sign=b45c5075d0d0ce3dd1e6ad68c99ad1dd&type=album" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Statistics</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Anime Entries:    465</li>
    <li class="list-group-item">Manga Entries: </li>
    <li class="list-group-item">Ranobe Entries:  </li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Link on profile</a>
  </div>
</div>
        <div><br></div>
         <div class = "card">
            <div class = 'card-body'>
        <table class="table caption-top">
  <thead>
    <tr class="table-primary">
      <th scope="col">#</th>
      <th scope="col" colspan="2">Top cumming anime</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><a class = "image" href="{{ url_for('anime_page', id=inf_spring_anime[0].id)   }}"><img src="{{ inf_spring_anime[0].img }}" alt="" width="50" height="70" ></a></td>
      <td><div><a class = "abobus" href="{{ url_for('anime_page', id=inf_spring_anime[0].id)   }}" >{{ inf_spring_anime[0].title }}</a></div></td>

    </tr>
    <tr>
      <th scope="row">2</th>
      <td><a class = "image" href="{{ url_for('anime_page', id=inf_spring_anime[1].id)   }}"><img src="{{ inf_spring_anime[1].img }}" alt="" width="50" height="70" ></a></td>
      <td><div><a class = "abobus" href="{{ url_for('anime_page', id=inf_spring_anime[1].id)   }}" >{{ inf_spring_anime[1].title }}</a></div></td>

    </tr>
    <tr>
      <th scope="row">3</th>
      <td><a class = "image" href="{{ url_for('anime_page', id=inf_spring_anime[2].id)   }}"><img src="{{ inf_spring_anime[2].img }}" alt="" width="50" height="70"></a></td>
      <td><div><a class = "abobus" href="{{ url_for('anime_page', id=inf_spring_anime[3].id)   }}" >{{ inf_spring_anime[2].title }}</a></div></td>

    </tr>
  </tbody>
</table>
        <div><br></div>
        <table class="table caption-top">
  <thead>
    <tr class="table-info">
      <th scope="col">#</th>
      <th scope="col" colspan="2">Top upcumming anime</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><a class = "image" href="{{ url_for('anime_page', id=inf_top_not[0].id)   }}"><img src="{{ inf_top_not[0].img }}" alt="" width="50" height="70"></a></td>
      <td><div><a class = "abobus" href="{{ url_for('anime_page', id=inf_top_not[0].id)   }}" >{{ inf_top_not[0].title }}</a></div></td>

    </tr>
    <tr>
      <th scope="row">2</th>
      <td><a class = "image" href="{{ url_for('anime_page', id=inf_top_not[1].id)   }}"><img src="{{ inf_top_not[1].img }}" alt="" width="50" height="70"></a></td>
      <td><div><a class = "abobus" href="{{ url_for('anime_page', id=inf_top_not[1].id)   }}" >{{ inf_top_not[1].title }}</a></div></td>

    </tr>
    <tr>
      <th scope="row">3</th>
      <td><a class = "image" href="{{ url_for('anime_page', id=inf_top_not[2].id)   }}"><img src="{{ inf_top_not[2].img }}" alt="" width="50" height="70"></a></td>
      <td><div><a class = "abobus" href="{{ url_for('anime_page', id=inf_top_not[2].id)   }}" >{{ inf_top_not[2].title }}</a></div></td>

    </tr>
  </tbody>
</table>
        <div><br></div>
         <table class="table caption-top">
  <thead>
    <tr class="table-primary">
      <th scope="col">#</th>
      <th scope="col" colspan="2">Most Popular Anime</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><a class = "image" href="https://www.meme-arsenal.com/memes/d80e757e7702cdf73fd53bc90bce45c3.jpg"><img src="https://cdn.myanimelist.net/r/50x70/images/anime/10/47347.jpg?s=29949c6e892df123f0b0563e836d3d98" alt="" ></a></td>
      <td><div><a class = "abobus" href="https://www.meme-arsenal.com/memes/d80e757e7702cdf73fd53bc90bce45c3.jpg" >Shingeki no Kyojin</a></div></td>

    </tr>
    <tr>
      <th scope="row">2</th>
      <td><a class = "image" href="https://www.meme-arsenal.com/memes/d80e757e7702cdf73fd53bc90bce45c3.jpg"><img src="https://cdn.myanimelist.net/r/50x70/images/anime/9/9453.jpg?s=b89e80691ac5cc0610847ccbe0b8424a" alt="" ></a></td>
      <td><div><a class = "abobus" href="https://www.meme-arsenal.com/memes/d80e757e7702cdf73fd53bc90bce45c3.jpg" >Death Note</a></div></td>

    </tr>
    <tr>
      <th scope="row">3</th>
      <td><a class = "image" href="https://www.meme-arsenal.com/memes/d80e757e7702cdf73fd53bc90bce45c3.jpg"><img src="https://cdn.myanimelist.net/r/50x70/images/anime/1223/96541.jpg?s=faffcb677a5eacd17bf761edd78bfb3f" alt="" ></a></td>
      <td><div><a class = "abobus" href="https://www.meme-arsenal.com/memes/d80e757e7702cdf73fd53bc90bce45c3.jpg" >Fullmetal Alchemist: Brotherhood</a></div></td>

    </tr>
  </tbody>
</table>

            </div>
         </div>
    </div>
  </div>
</div>
</section>
    </div>
{% endblock %}
 <nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>
