
{% extends 'base.html' %}

{% block title %}
Homepage
{% endblock %}
{% block content %}
    <div>
<section>
<div class="container">
  <div class="row">
    <div class="col-sm-8">
         <div class = "card">
            <div class = 'card-body'>
      <div> <h3>Top 5 Anime</h3></div>
        <div><div class="card-group">
  <div class="card">
    <img src="https://animego.org/media/cache/thumbs_250x350/upload/anime/images/5a46d2c0d298e.jpg" width="160" height="220" class="card-img-top" alt="...">
    <div class="card-body">

      <h5 class="card-title"><a class = "link-default" href="https://www.meme-arsenal.com/memes/d80e757e7702cdf73fd53bc90bce45c3.jpg" >Fullmetal Alchemist</a></h5>
      <p class="card-text"> приключения, боевик, комедия, драма, фэнтези</p>
    </div>
      <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
          </div>
    </div>
   <div class="card">
    <img src="https://cdn.myanimelist.net/images/anime/3/72078.jpg" width="160" height="220" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><a class = "link-default" href="https://www.meme-arsenal.com/memes/d80e757e7702cdf73fd53bc90bce45c3.jpg" >Gintama</a></h5>
      <p class="card-text"> Action, Comedy, Sci-Fi</p>
    </div>
      <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
          </div>
  </div>
 <div class="card">
    <img src="https://cdn.myanimelist.net/images/anime/5/73199.jpg" width="160" height="220" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><a class = "link-default" href="https://www.meme-arsenal.com/memes/d80e757e7702cdf73fd53bc90bce45c3.jpg" >Steins;Gate</a></h5>
      <p class="card-text"> Drama, Sci-Fi, Suspense</p>
    </div>
      <div class="card-footer">
         <small class="text-muted">Last updated 3 mins ago</small>
          </div>
  </div>
 <div class="card">
    <img src="https://cdn.myanimelist.net/images/anime/1517/100633.jpg" width="160" height="220" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><a class = "link-default" href="https://www.meme-arsenal.com/memes/d80e757e7702cdf73fd53bc90bce45c3.jpg" >Shingeki no Kyojin Season 3 Part 2</a></h5>
      <p class="card-text"> Gore, Military, Survival</p>
    </div>
      <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
          </div>
  </div>
 <div class="card">
    <img src="https://cdn.myanimelist.net/images/anime/1988/113791.jpg" width="160" height="220" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><a class = "link-default" href="https://www.meme-arsenal.com/memes/d80e757e7702cdf73fd53bc90bce45c3.jpg" >Gintama: The Final</a></h5>
      <p class="card-text">Action, Comedy, Drama, Sci-Fi</p>
    </div>
      <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
          </div>
  </div>
        </div></div></div></div>
<div><br></div>
        <div><br></div>
         <div class = "card">
            <div class = 'card-body'>
        <div><h3>Spring 2022 Anime</h3></div>
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <div class="row">
    <div class="col">
      <div class="card">
  <img src="https://cdn.myanimelist.net/images/anime/3/72078.jpg" width="160" height="220" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text"><a class = "abobus" href="https://www.meme-arsenal.com/memes/d80e757e7702cdf73fd53bc90bce45c3.jpg" >Kaguya-sama wa Kokurasetai: Ultra Romantic</a></p>
  </div>
</div>    </div>
    <div class="col">
       <div class="card" >
  <img src="https://cdn.myanimelist.net/images/anime/3/72078.jpg" width="160" height="220" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text"><a class = "abobus" href="https://www.meme-arsenal.com/memes/d80e757e7702cdf73fd53bc90bce45c3.jpg" >Kaguya-sama wa Kokurasetai: Ultra Romantic</a></p>
  </div>
</div>    </div>
    <div class="col">
      <div class="card" >
  <img src="https://cdn.myanimelist.net/images/anime/3/72078.jpg" width="160" height="220" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text"><a class = "abobus" href="https://www.meme-arsenal.com/memes/d80e757e7702cdf73fd53bc90bce45c3.jpg" >Kaguya-sama wa Kokurasetai: Ultra Romantic</a></p>
  </div>
</div>    </div>
  </div>
    </div>
    <div class="carousel-item">
       <div class="row">
    <div class="col">
      <div class="card" >
  <img src="https://cdn.myanimelist.net/images/anime/3/72078.jpg" width="160" height="220" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text"><a class = "abobus" href="https://www.meme-arsenal.com/memes/d80e757e7702cdf73fd53bc90bce45c3.jpg" >Kaguya-sama wa Kokurasetai: Ultra Romantic</a></p>
  </div>
</div>    </div>
    <div class="col">
      <div class="card" >
  <img src="https://cdn.myanimelist.net/images/anime/3/72078.jpg" width="160" height="220" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text"><a class = "abobus" href="https://www.meme-arsenal.com/memes/d80e757e7702cdf73fd53bc90bce45c3.jpg" >Kaguya-sama wa Kokurasetai: Ultra Romantic</a></p>
  </div>
</div>    </div>
    <div class="col">
      <div class="card" >
  <img src="https://cdn.myanimelist.net/images/anime/3/72078.jpg" width="160" height="220" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text"><a class = "abobus" href="https://www.meme-arsenal.com/memes/d80e757e7702cdf73fd53bc90bce45c3.jpg" >Kaguya-sama wa Kokurasetai: Ultra Romantic</a></p>
  </div>
</div>    </div>
  </div>
    </div>
    <div class="carousel-item">
       <div class="row">
    <div class="col">
      <div class="card" >
  <img src="https://cdn.myanimelist.net/images/anime/3/72078.jpg" width="160" height="220" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text"><a class = "abobus" href="https://www.meme-arsenal.com/memes/d80e757e7702cdf73fd53bc90bce45c3.jpg" >Kaguya-sama wa Kokurasetai: Ultra Romantic</a></p>
  </div>
</div>    </div>
    <div class="col">
      <div class="card" >
  <img src="https://cdn.myanimelist.net/images/anime/3/72078.jpg" width="160" height="220" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text"><a class = "abobus" href="https://www.meme-arsenal.com/memes/d80e757e7702cdf73fd53bc90bce45c3.jpg" >Kaguya-sama wa Kokurasetai: Ultra Romantic</a></p>
  </div>
</div>    </div>
    <div class="col">
      <div class="card" >
  <img src="https://cdn.myanimelist.net/images/anime/3/72078.jpg" width="160" height="220" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text"><a class = "abobus" href="https://www.meme-arsenal.com/memes/d80e757e7702cdf73fd53bc90bce45c3.jpg" >Kaguya-sama wa Kokurasetai: Ultra Romantic</a></p>
  </div>
</div>    </div>
  </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Предыдущий</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Следующий</span>
  </button>
</div>
            </div>
         </div>
 <div><br></div>
        <div><br></div>
        <div class = "card">
            <div class = 'card-body'>
        <div><h3>Updates to popular manga</h3></div>
        <div class="card mb-3" style="max-width: 1500px;">
  <div class="row g-0">
    <div class="col-md-2">
      <img src="https://cdn.myanimelist.net/s/common/store/cover/5703/75f9f81c17863f3819b7e2ad14d7bbd094b8e128401c2279a6de64c700d70395/l@2x.jpg" width="100" height="140" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <div class="card-header"><h6 class="card-title"><a class = "link-default" href="https://www.meme-arsenal.com/memes/d80e757e7702cdf73fd53bc90bce45c3.jpg" >One Piece</a> </h6></div>
        <p class="card-text">Том 1 Глава 53425 <small class="text-muted">Последнее обновление 3 мин. назад</small></p>
      </div>
    </div>
  </div>
</div>
                <div class="card mb-3" style="max-width: 1500px;">
  <div class="row g-0">
    <div class="col-md-2">
      <img src="https://cdn.myanimelist.net/s/common/store/cover/5703/75f9f81c17863f3819b7e2ad14d7bbd094b8e128401c2279a6de64c700d70395/l@2x.jpg" width="100" height="140" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <div class="card-header"><h6 class="card-title"><a class = "link-default" href="https://www.meme-arsenal.com/memes/d80e757e7702cdf73fd53bc90bce45c3.jpg" >One Piece</a> </h6></div>
        <p class="card-text">Том 1 Глава 53425 <small class="text-muted">Последнее обновление 3 мин. назад</small></p>
      </div>
    </div>
  </div>
</div>
                <div class="card mb-3" style="max-width: 1500px;">
  <div class="row g-0">
    <div class="col-md-2">
      <img src="https://cdn.myanimelist.net/s/common/store/cover/5703/75f9f81c17863f3819b7e2ad14d7bbd094b8e128401c2279a6de64c700d70395/l@2x.jpg" width="100" height="140" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <div class="card-header"><h6 class="card-title"><a class = "link-default" href="https://www.meme-arsenal.com/memes/d80e757e7702cdf73fd53bc90bce45c3.jpg" >One Piece</a> </h6></div>
        <p class="card-text">Том 1 Глава 53425 <small class="text-muted">Последнее обновление 3 мин. назад</small></p>

      </div>
    </div>
  </div>
</div>
            </div>
            </div>



    </div>


    <div class="col-sm-4">
        <div><br></div>
        <dib><br></dib>
      <div class="card" style="width: 18rem;">
  <img src="https://sun9-80.userapi.com/impg/t55wSDCTHvgcROHzbiMh04cfYBXimTmHbL1-Qg/WByzf8O1z38.jpg?size=654x464&quality=95&sign=b45c5075d0d0ce3dd1e6ad68c99ad1dd&type=album" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Statistics</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Anime Entries:    465</li>
    <li class="list-group-item">Manga Entries: </li>
    <li class="list-group-item">Ranobe Entries:  </li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Link on profile</a>
  </div>
</div>
        <div><br></div>
         <div class = "card">
            <div class = 'card-body'>
        <table class="table caption-top">
  <thead>
    <tr class="table-primary">
      <th scope="col">#</th>
      <th scope="col" colspan="2">Top cumming anime</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><a class = "image" href="https://www.meme-arsenal.com/memes/d80e757e7702cdf73fd53bc90bce45c3.jpg"><img src="https://cdn.myanimelist.net/r/50x70/images/anime/1430/118919.webp?s=75263c5e1af8ccd81ffc68634fb72d2f" alt="" ></a></td>
      <td><div><a class = "abobus" href="https://www.meme-arsenal.com/memes/d80e757e7702cdf73fd53bc90bce45c3.jpg" >Kaguya-sama wa Kokurasetai: Ultra Romantic</a></div></td>

    </tr>
    <tr>
      <th scope="row">2</th>
      <td><a class = "image" href="https://www.meme-arsenal.com/memes/d80e757e7702cdf73fd53bc90bce45c3.jpg"><img src="https://cdn.myanimelist.net/r/50x70/images/anime/6/73245.jpg?s=f792b8c9e28534ae455d06b15e686a14" alt="" ></a></td>
      <td><div><a class = "abobus" href="https://www.meme-arsenal.com/memes/d80e757e7702cdf73fd53bc90bce45c3.jpg" >One Piece</a></div></td>

    </tr>
    <tr>
      <th scope="row">3</th>
      <td><a class = "image" href="https://www.meme-arsenal.com/memes/d80e757e7702cdf73fd53bc90bce45c3.jpg"><img src="https://cdn.myanimelist.net/r/50x70/images/anime/1259/110227.jpg?s=08c77f58ab974a8fc36af5e2eac9040a" alt="" ></a></td>
      <td><div><a class = "abobus" href="https://www.meme-arsenal.com/memes/d80e757e7702cdf73fd53bc90bce45c3.jpg" >Holo no Graffiti</a></div></td>

    </tr>
  </tbody>
</table>
        <div><br></div>
        <table class="table caption-top">
  <thead>
    <tr class="table-info">
      <th scope="col">#</th>
      <th scope="col" colspan="2">Top upcumming anime</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><a class = "image" href="https://www.meme-arsenal.com/memes/d80e757e7702cdf73fd53bc90bce45c3.jpg"><img src="https://cdn.myanimelist.net/r/50x70/images/anime/1632/110707.jpg?s=e489bf840c9c4c9163591db80d2f063f" alt="" ></a></td>
      <td><div><a class = "abobus" href="https://www.meme-arsenal.com/memes/d80e757e7702cdf73fd53bc90bce45c3.jpg" >Chainsaw Man</a></div></td>

    </tr>
    <tr>
      <th scope="row">2</th>
      <td><a class = "image" href="https://www.meme-arsenal.com/memes/d80e757e7702cdf73fd53bc90bce45c3.jpg"><img src="https://cdn.myanimelist.net/r/50x70/images/anime/1440/121382.jpg?s=71269026f2f9ddbee33406e4bfdb2393" alt="" ></a></td>
      <td><div><a class = "abobus" href="https://www.meme-arsenal.com/memes/d80e757e7702cdf73fd53bc90bce45c3.jpg" >Spy x Family</a></div></td>

    </tr>
    <tr>
      <th scope="row">3</th>
      <td><a class = "image" href="https://www.meme-arsenal.com/memes/d80e757e7702cdf73fd53bc90bce45c3.jpg"><img src="https://cdn.myanimelist.net/r/50x70/images/anime/1406/104631.jpg?s=f6d480878204e18ad25c5cb7d3b62f47" alt="" ></a></td>
      <td><div><a class = "abobus" href="https://www.meme-arsenal.com/memes/d80e757e7702cdf73fd53bc90bce45c3.jpg" >Tate no Yuusha no Nariagari Season 3</a></div></td>

    </tr>
  </tbody>
</table>
        <div><br></div>
         <table class="table caption-top">
  <thead>
    <tr class="table-primary">
      <th scope="col">#</th>
      <th scope="col" colspan="2">Most Popular Anime</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><a class = "image" href="https://www.meme-arsenal.com/memes/d80e757e7702cdf73fd53bc90bce45c3.jpg"><img src="https://cdn.myanimelist.net/r/50x70/images/anime/10/47347.jpg?s=29949c6e892df123f0b0563e836d3d98" alt="" ></a></td>
      <td><div><a class = "abobus" href="https://www.meme-arsenal.com/memes/d80e757e7702cdf73fd53bc90bce45c3.jpg" >Shingeki no Kyojin</a></div></td>

    </tr>
    <tr>
      <th scope="row">2</th>
      <td><a class = "image" href="https://www.meme-arsenal.com/memes/d80e757e7702cdf73fd53bc90bce45c3.jpg"><img src="https://cdn.myanimelist.net/r/50x70/images/anime/9/9453.jpg?s=b89e80691ac5cc0610847ccbe0b8424a" alt="" ></a></td>
      <td><div><a class = "abobus" href="https://www.meme-arsenal.com/memes/d80e757e7702cdf73fd53bc90bce45c3.jpg" >Death Note</a></div></td>

    </tr>
    <tr>
      <th scope="row">3</th>
      <td><a class = "image" href="https://www.meme-arsenal.com/memes/d80e757e7702cdf73fd53bc90bce45c3.jpg"><img src="https://cdn.myanimelist.net/r/50x70/images/anime/1223/96541.jpg?s=faffcb677a5eacd17bf761edd78bfb3f" alt="" ></a></td>
      <td><div><a class = "abobus" href="https://www.meme-arsenal.com/memes/d80e757e7702cdf73fd53bc90bce45c3.jpg" >Fullmetal Alchemist: Brotherhood</a></div></td>

    </tr>
  </tbody>
</table>

            </div>
         </div>
    </div>
  </div>
</div>
</section>
    </div>
{% endblock %}
 <nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>
