
{% extends 'base.html' %}

{% block title %}
Manga Search
{% endblock %}
{% block content %}

<section>
<div class="container">
  <div class="row">
    <div class="col-sm-8">
            <div class="col">
      <div class="card" >
          <div class="card-body">
          <div class="manga-search_header"> <h3><span> Manga Search</span></h3> <div> <div class="input-group rounded">
  <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
  <span class="input-group-text border-0" id="search-addon">
    <i class="fas fa-search"></i>
  </span>
</div></div> </div>
        <div class="row row-cols-1 row-cols-md-4 g-2  ">
  <div class="col align-self-end">
    <div class="card h-100" style="width: 9.5rem;">
        <a class = "image" href="https://www.meme-arsenal.com/memes/d80e757e7702cdf73fd53bc90bce45c3.jpg"><img src="https://cdn.myanimelist.net/s/common/store/cover/5703/75f9f81c17863f3819b7e2ad14d7bbd094b8e128401c2279a6de64c700d70395/l@2x.jpg" width="147" height="206" class="card-img-top" alt="..."></a>
      <div class="card-body">
          <a class = "link-default" href="https://www.meme-arsenal.com/memes/d80e757e7702cdf73fd53bc90bce45c3.jpg" ><h5 class="card-title">LD{JF.;sdklfjOVjlSDPFIJxlvjdso</h5></a>
      </div>
    </div>
  </div>
  <div class="col justify-content-center">
    <div class="card h-100" style="width: 9.5rem;">
        <a class = "image" href="https://www.meme-arsenal.com/memes/d80e757e7702cdf73fd53bc90bce45c3.jpg"><img src="https://cdn.myanimelist.net/s/common/store/cover/5703/75f9f81c17863f3819b7e2ad14d7bbd094b8e128401c2279a6de64c700d70395/l@2x.jpg" width="147" height="206" class="card-img-top" alt="..."></a>
      <div class="card-body">
          <a class = "link-default" href="https://www.meme-arsenal.com/memes/d80e757e7702cdf73fd53bc90bce45c3.jpg" ><h5 class="card-title">LD{JF.;sdklfjOVjlSDPFIJxlvjdso</h5></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100" style="width: 9.5rem;">
        <a class = "image" href="https://www.meme-arsenal.com/memes/d80e757e7702cdf73fd53bc90bce45c3.jpg"><img src="https://cdn.myanimelist.net/s/common/store/cover/5703/75f9f81c17863f3819b7e2ad14d7bbd094b8e128401c2279a6de64c700d70395/l@2x.jpg" width="147" height="206" class="card-img-top" alt="..."></a>
      <div class="card-body">
          <a class = "link-default" href="https://www.meme-arsenal.com/memes/d80e757e7702cdf73fd53bc90bce45c3.jpg" ><h5 class="card-title">LD{JF.;sdklfjOVjlSDPFIJxlvjdso</h5></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100" style="width: 9.5rem;">
        <a class = "image" href="https://www.meme-arsenal.com/memes/d80e757e7702cdf73fd53bc90bce45c3.jpg"><img src="https://cdn.myanimelist.net/s/common/store/cover/5703/75f9f81c17863f3819b7e2ad14d7bbd094b8e128401c2279a6de64c700d70395/l@2x.jpg" width="147" height="206" class="card-img-top" alt="..."></a>
      <div class="card-body">
          <a class = "link-default" href="https://www.meme-arsenal.com/memes/d80e757e7702cdf73fd53bc90bce45c3.jpg" ><h5 class="card-title">LD{JF.;sdklfjOVjlSDPFIJxlvjdso</h5></a>
      </div>
    </div>
  </div>
              <div class="col">
    <div class="card h-100" style="width: 9.5rem;">
        <a class = "image" href="https://www.meme-arsenal.com/memes/d80e757e7702cdf73fd53bc90bce45c3.jpg"><img src="https://cdn.myanimelist.net/s/common/store/cover/5703/75f9f81c17863f3819b7e2ad14d7bbd094b8e128401c2279a6de64c700d70395/l@2x.jpg" width="147" height="206" class="card-img-top" alt="..."></a>
      <div class="card-body">
          <a class = "link-default" href="https://www.meme-arsenal.com/memes/d80e757e7702cdf73fd53bc90bce45c3.jpg" ><h5 class="card-title">LD{JF.;sdklfjOVjlSDPFIJxlvjdso</h5></a>
      </div>
    </div>
  </div>
              <div class="col">
    <div class="card h-100" style="width: 9.5rem;">
        <a class = "image" href="https://www.meme-arsenal.com/memes/d80e757e7702cdf73fd53bc90bce45c3.jpg"><img src="https://cdn.myanimelist.net/s/common/store/cover/5703/75f9f81c17863f3819b7e2ad14d7bbd094b8e128401c2279a6de64c700d70395/l@2x.jpg" width="147" height="206" class="card-img-top" alt="..."></a>
      <div class="card-body">
          <a class = "link-default" href="https://www.meme-arsenal.com/memes/d80e757e7702cdf73fd53bc90bce45c3.jpg" ><h5 class="card-title">LD{JF.;sdklfjOVjlSDPFIJxlvjdso</h5></a>
      </div>
    </div>
  </div>
              <div class="col">
    <div class="card h-100" style="width: 9.5rem;">
        <a class = "image" href="https://www.meme-arsenal.com/memes/d80e757e7702cdf73fd53bc90bce45c3.jpg"><img src="https://cdn.myanimelist.net/s/common/store/cover/5703/75f9f81c17863f3819b7e2ad14d7bbd094b8e128401c2279a6de64c700d70395/l@2x.jpg" width="147" height="206" class="card-img-top" alt="..."></a>
      <div class="card-body">
          <a class = "link-default" href="https://www.meme-arsenal.com/memes/d80e757e7702cdf73fd53bc90bce45c3.jpg" ><h5 class="card-title">LD{JF.;sdklfjOVjlSDPFIJxlvjdso</h5></a>
      </div>
    </div>
  </div>
              <div class="col">
    <div class="card h-100" style="width: 9.5rem;">
        <a class = "image" href="https://www.meme-arsenal.com/memes/d80e757e7702cdf73fd53bc90bce45c3.jpg"><img src="https://cdn.myanimelist.net/s/common/store/cover/5703/75f9f81c17863f3819b7e2ad14d7bbd094b8e128401c2279a6de64c700d70395/l@2x.jpg" width="147" height="206" class="card-img-top" alt="..."></a>
      <div class="card-body">
          <a class = "link-default" href="https://www.meme-arsenal.com/memes/d80e757e7702cdf73fd53bc90bce45c3.jpg" ><h5 class="card-title">LD{JF.;sdklfjOVjlSDPFIJxlvjdso</h5></a>
      </div>
    </div>
  </div>
</div>
</div>

            </div>
            </div>
    </div>

    <div class="col-sm-4">
        <div class="container">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                    <div><h6>Genres</h6></div>
<div class="checkselect">
	<label><input type="checkbox" name="brands[]" value="1" checked> Google Inc.</label>
	<label><input type="checkbox" name="brands[]" value="2"> Apple Inc.</label>
	<label><input type="checkbox" name="brands[]" value="3"> Microsoft</label>
	<label><input type="checkbox" name="brands[]" value="4"> Facebook</label>
	<label><input type="checkbox" name="brands[]" value="5"> Amazon</label>
	<label><input type="checkbox" name="brands[]" value="6"> Verizon</label>
    <label><input type="checkbox" name="brands[]" value="6"> Verizon</label>
    <label><input type="checkbox" name="brands[]" value="6"> Verizon</label>
    <label><input type="checkbox" name="brands[]" value="6"> Verizon</label>
    <label><input type="checkbox" name="brands[]" value="6"> Verizon</label>
    <label><input type="checkbox" name="brands[]" value="6"> Verizon</label>
    <label><input type="checkbox" name="brands[]" value="6"> Verizon</label>
    <label><input type="checkbox" name="brands[]" value="6"> Verizon</label>
    <label><input type="checkbox" name="brands[]" value="6"> Verizon</label>
    <label><input type="checkbox" name="brands[]" value="6"> Verizon</label>
    <label><input type="checkbox" name="brands[]" value="6"> Verizon</label>
</div>
                        <div><br></div>
                    <div><h6>Tags</h6></div>
<div class="checkselect">
	<label><input type="checkbox" name="brands[]" value="1" checked> Google Inc.</label>
	<label><input type="checkbox" name="brands[]" value="2"> Apple Inc.</label>
	<label><input type="checkbox" name="brands[]" value="3"> Microsoft</label>
	<label><input type="checkbox" name="brands[]" value="4"> Facebook</label>
	<label><input type="checkbox" name="brands[]" value="5"> Amazon</label>
	<label><input type="checkbox" name="brands[]" value="6"> Verizon</label>
    <label><input type="checkbox" name="brands[]" value="6"> Verizon</label>
    <label><input type="checkbox" name="brands[]" value="6"> Verizon</label>
    <label><input type="checkbox" name="brands[]" value="6"> Verizon</label>
    <label><input type="checkbox" name="brands[]" value="6"> Verizon</label>
    <label><input type="checkbox" name="brands[]" value="6"> Verizon</label>
    <label><input type="checkbox" name="brands[]" value="6"> Verizon</label>
    <label><input type="checkbox" name="brands[]" value="6"> Verizon</label>
    <label><input type="checkbox" name="brands[]" value="6"> Verizon</label>
    <label><input type="checkbox" name="brands[]" value="6"> Verizon</label>
    <label><input type="checkbox" name="brands[]" value="6"> Verizon</label>
</div>
                        <div><br></div>
                    <div><h6>Status</h6></div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
  <label class="form-check-label" for="inlineCheckbox1">Completed</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
  <label class="form-check-label" for="inlineCheckbox2">Оngoing</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" >
  <label class="form-check-label" for="inlineCheckbox3">Suspended</label>
</div>
                        <div><br></div>
                        <div class="d-flex justify-content-center">
                        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
  <button type="button" class="btn btn-danger">Reset</button>
  <button type="button" class="btn btn-success">Show</button>
</div>
                            </div>
                    </div>
                </div>
                </div>
        </div>
    </div>
    </div>
  </div>
<div><br></div>
 <nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>

</nav>
</section>



<script>
(function($) {
	function setChecked(target) {
		var checked = $(target).find("input[type='checkbox']:checked").length;
		if (checked) {
			$(target).find('select option:first').html('Selected: ' + checked);
		} else {
			$(target).find('select option:first').html('Select from the list');
		}
	}

	$.fn.checkselect = function() {
		this.wrapInner('<div class="checkselect-popup"></div>');
		this.prepend(
			'<div class="checkselect-control">' +
				'<select class="form-control"><option></option></select>' +
				'<div class="checkselect-over"></div>' +
			'</div>'
		);

		this.each(function(){
			setChecked(this);
		});
		this.find('input[type="checkbox"]').click(function(){
			setChecked($(this).parents('.checkselect'));
		});

		this.parent().find('.checkselect-control').on('click', function(){
			$popup = $(this).next();
			$('.checkselect-popup').not($popup).css('display', 'none');
			if ($popup.is(':hidden')) {
				$popup.css('display', 'block');
				$(this).find('select').focus();
			} else {
				$popup.css('display', 'none');
			}
		});

		$('html, body').on('click', function(e){
			if ($(e.target).closest('.checkselect').length == 0){
				$('.checkselect-popup').css('display', 'none');
			}
		});
	};
})(jQuery);

$('.checkselect').checkselect();
</script>



{% endblock %}