{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
<section>
<div class="container">
    <div class = "card">
            <div class = 'card-body'>
  <div class="row">
    <div> <h3>Top Anime</h3></div>
    <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Rank</th>
      <th scope="col">Title</th>
      <th scope="col">Score</th>
      <th scope="col">Your Score</th>
        <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
  {% for item in manga %}
    <tr>
      <th scope="row" class="top-anime-rank-text"><span class=" top-anime-rank-text rank1">{{ item.ranked }}</span></th>
      <td class="title al va-t word-break">
       <a class = "image" style="position: relative; display: inline-block; float: left" href="{{ url_for('manga_page', id=item.id) }}"><img src="{{ item.img }}" alt="" width="50" height="70" ></a>
        <div class="detail"><h6 class=""><a class = "link-default" href="{{ url_for('manga_page', id=item.id) }}" >{{ item.title }}</a> </h6>
        <div class="black_text"><small class="text-muted">Chapters {{ item.chapters }}</small><br><small class="text-muted">Volumes {{ item.volumes }} </small></div></div>
      </td>
      <td class="score">{{ item.score }}</td>
      <td class="score">N/A</td>
      <td class="status">N/A</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

  </div>
            </div>
</div>
</div>
<div><br></div>
 <nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>

</nav>
</section>
{% endblock %}